<app-navbar></app-navbar>
<div class="container-fluid my-3">
    <h1>Upcoming Jobs</h1>
    <div class="row">
        <div class="col-md-12 table-responsive">


        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Job Title</th>
                    <th scope="col">By</th>
                    <th scope="col">Type</th>
                    <th scope="col">Location</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Senior front-end Developer</th>
                    <td>Google</td>
                    <td>Full Time</td>
                    <td>Hyderabad</td>
                    <td><button class="btn btn-primary-outline">Apply</button></td>
                  </tr>
                  <tr>
                    <th scope="row">Full Stack Web Developer</th>
                    <td>Accenture</td>
                    <td>Full Time</td>
                    <td>Banglore</td>
                    <td><button class="btn btn-primary-outline">Apply</button></td>
                  </tr>
                  <tr>
                    <th scope="row">Senior Software Engineer</th>
                    <td>HCL</td>
                    <td>Full Time</td>
                    <td>Chennai</td>
                    <td><button class="btn btn-primary-outline">Apply</button></td>
                  </tr>
                  <tr>
                        <th scope="row">Senior Graphic Designer</th>
                        <td>Disney</td>
                        <td>Full Time</td>
                        <td>Noida</td>
                        <td><button class="btn btn-primary-outline">Apply</button></td>
                      </tr>
                </tbody>
              </table>
            </div>

          </div>
</div>