<app-navbar></app-navbar>
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-12"><h1>Transparency</h1></div>
    </div>
    <div class="row">
            <div class="col-md-8">
                <p>Lorem Ipsum is simply dummy text of the printing and 
                    typesetting industry. Lorem Ipsum has been the industry's
                     standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                       type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining 
                        essentially unchanged. It was popularised in the 1960s with
                         the release of Letraset sheets containing Lorem Ipsum passages,
                          and more recently with desktop publishing software like Aldus
                           PageMaker includi... <a href="http://localhost:4200/transparency">(Show More)</a></p>
            </div>
            <div class="col-md-4">
                    <div class="card bg-dark text-white">
                            <img class="card-img" src="../../../assets/images/aboutus.jpg" alt="Education Pics">
                            <div class="card-img-overlay" style="padding: 6.5em;">
                                    <button class="btn btn-primary">Donate&nbsp;<i class="fa fa-handshake-o" aria-hidden="true"></i></button>
                                  </div>
                        </div>
            </div>
        </div>
</div>

