<footer class="footer">
    <div class="container-fluid bottom_border">
    <div class="row">
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
    <!--headin5_amrc-->
    <p class="mb10">Future Innovative Foundation : THE SOCIAL DEVELOPMENT ARM. We are decided to destroy the poverty and illeteracy in india & we Decided to develop our nation</p>
    <p><i class="fa fa-location-arrow"></i> Machilipatnam </p>
    <p><i class="fa fa-phone"></i>  +91-000-000-0000  </p>
    <p><i class="fa fa fa-envelope"></i> info@fifindia.com  </p>
    
    
    </div>
    
    
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="http://webenlance.com">Login</a></li>
    <li><a href="http://webenlance.com">Sign Up</a></li>
    <li><a href="http://webenlance.com">My Account</a></li>
    <li><a href="http://webenlance.com">Donate</a></li>
    <li><a href="http://webenlance.com">Terms & Conditions</a></li>
    <li><a href="http://webenlance.com">Private Policy</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    
    
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="http://webenlance.com">FAQ</a></li>
    <li><a href="http://webenlance.com">Blog</a></li>
    <li><a href="http://webenlance.com">Our Patners</a></li>
    <li><a href="http://webenlance.com">Donations</a></li>
    <li><a href="http://webenlance.com">How it works</a></li>
    <li><a href="http://webenlance.com">Who we are</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    
    
    <div class=" col-sm-4 col-md  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
    <!--headin5_amrc ends here-->
    
    <ul class="footer_ul2_amrc">
    <li><a href="#"><i class="fa fa-twitter fleft padding-right"></i> </a><a href="#">https://www.lipsum.com/</a></li>
    <li><a href="#"><i class="fa fa-facebook fleft padding-right"></i> </a><a href="#">https://www.lipsum.com/</a></li>
    <li><a href="#"><i class="fa fa-linkedin fleft padding-right"></i> </a><a href="#">https://www.lipsum.com/</a></li>
    </ul>
    <!--footer_ul2_amrc ends here-->
    </div>
    </div>
    </div>
    
    
    <div class="container-fluid">

    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2019 | Designed With by <a href="#">FIF India</a></p>
    
    <!-- <ul class="social_footer_ul">
    <li class="lists"><a ><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li class="lists"><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li class="lists"><a ><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    <li class="lists"><a><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul> -->
    <!--social_footer_ul ends here-->
    </div>
    
    </footer>